@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');
  
:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
    --btn-bg: #3498db;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    background: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.paper {
    width: 50%;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-top: 20px;
    position: relative;
}

.form-control label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}
.form-control small {
    color: var(--error-color);

    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    background: var(--btn-bg);
    border: 1px solid var(--btn-bg);
    border-radius: 4px;
    color: #fff;
    display: block;
    padding: 15px;
    width: 100%;
    margin-top: 20px;
}